<div ng-show="userDetailController.user">
<div class="row">
	<div class="small-12 columns">
		<label>Name: </label>
		<input type="text" ng-model="userDetailController.user.name">
	</div>
</div>
<div class="row">
	<div class="small-12 columns">
		<label>Gender: </label>
		<input type="radio" name="gender" ng-model="userDetailController.user.gender" value="m" id="genderMale"><label for="genderMale">Male</label>
		<input type="radio" name="gender" ng-model="userDetailController.user.gender" value="f" id="genderFemale"><label for="genderFemale">Female</label>
	</div>
</div>
<button class="tiny" ng-click="userDetailController.saveUser()">Save</button>
</div>

